section.order 
    .order__container.container 
        h2.order__title Оформление <span class="marker">Заказа</span>
        p.order__description Перед заполнением формы ознакомьтесь с нашей схемой работы!
        ul.order__stages-list 
            li.order__stages-list-item Lorem ipsum dolor sit amet
            li.order__stages-list-item Сonsecteturadipiscing elit
            li.order__stages-list-item Sed do eiusmod tempor
            li.order__stages-list-item Esse cillum dolore eu fugiat
            li.order__stages-list-item Excepteur sint occaecat cupidatat non proident
        form(action="#").order__form.form#orderForm
            mixin SelectBox(name, options)
                .form__select.select-box
                    .select-box__current(tabindex="1")
                        each option, index in options
                            .select-box__value
                                input.select-box__input(type="radio" id=index value=option.value name=name checked=option.checked)
                                p.select-box__input-text #{option.name}
                            img.select-box__icon(src="@img/arrow-down.svg" alt="Иконка стрелки" aria-hidden="true")
                    ul.select-box__list
                        each option, index in options
                            li
                                label.select-box__option(for=index aria-hidden) #{option.name}
            +SelectBox('Ben', [
                {name: 'Выберите тип системы', value: 'Выберите тип системы', checked: true}, 
                {name: 'Sed ut perspiciatis', value: 'Sed ut perspiciatis'}, 
                {name: 'Nemo enim ipsam', value: 'Nemo enim ipsam'}, 
                {name: 'Et harum quidem', value: 'Et harum quidem'}, 
                {name: 'Temporibus autem', value: 'Temporibus autem'},
                {name: 'Itaque earum rerum', value: 'Itaque earum rerum'},
                {name: 'Lorem, ipsum dolor', value: 'Lorem, ipsum dolor'},
                {name: 'Lorem, ipsum dolor', value: 'Lorem, ipsum dolor'},
                {name: 'Lorem, ipsum dolor', value: 'Lorem, ipsum dolor'},
                {name: 'Lorem, ipsum dolor', value: 'Lorem, ipsum dolor'}
            ])
            input.form__email(type="email" placeholder="Ваш e-mail" name="email") 
            input.form__name(type="text" placeholder="Ваше имя" name="name") 
            label.form__slider-label(for="slider") Sed ut perspiciatis, unde omnis iste natus
                input.form__slider#slider(type="range" value="0" min="0" max="100" step="1" name="sliderValue")
                p.form__slider-value %
            input.form__file-input(type="file" name="file")
            button.form__submit(type="submit") Отправить

